.container {
  margin: 10rem auto 0;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}

.heading {
  font-size: 3rem;
  font-weight: 500;
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}

.passwordRequest {
  font-size: 1.5rem;
  color: #555;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 50%;
}

.passwordInput {
  font-size: 1.8rem;
  background-color: var(--color-grey-light-2);
  border: none;
  outline: 1px solid var(--color-primary-light-2);
  color: var(--color-grey-dark-1);
  border-radius: 3rem;
  padding: 1.2rem 1.6rem;
}

.alertMessage {
  color: red;
  font-size: 1.4rem;
  align-self: center;
}

.button {
  width: 100%;
  background-color: #eb2f64;
  border: none;
  border-radius: 3rem;
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  transition: all 0.3s;
}

.button:hover {
  background-color: #cf2953;
}
