.Room {
	margin: 10rem auto 0;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}

.stream-container {
	/* padding: 0;
	height: 200px;
	width: 300px;
	position: relative; */
	
	/* height: 200px;
	width: 300px; */
	width: 20%;
  padding-bottom: 30px;	
	flex-direction: column;
	display: inline-block;
	margin-left: 15px;

}

.main-stream-container{
	/* width: calc(100% / 3); */
	width: 100%;
	height: auto;
	flex-direction: column;
	display: inline-block;
	/* margin-left: 20px; */
	justify-items: center;
	align-items: center;
}

html {
	position: relative;
	min-height: 100%;
}

/* nav {
	height: 50px;
	width: 100%;
	z-index: 1;
	background-color: #4d4d4d !important;
	border-color: #4d4d4d !important;
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

.navbar-header {
	width: 100%;
}

.nav-icon {
	padding: 5px 15px 5px 15px;
	float: right;
}

nav a {
	color: #ccc !important;
}

nav i.fa {
	font-size: 40px;
	color: #ccc;
}

nav a:hover {
	color: #a9a9a9 !important;
}

nav i.fa:hover {
	color: #a9a9a9;
} */

#main-container {
	padding-bottom: 80px;
}

.vertical-center {
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.horizontal-center {
	margin: 0 auto;
}

.form-group {
	width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.4rem;
	margin: auto;
}

.form-input {
	/* color: #0088aa;
	font-weight: bold; */

	font-size: 1.6rem;
  width: 60%;
  padding: 1.2rem 1rem;
  outline: none;
  border: 1px solid #333;
  border-radius: 3px;
}

.form-input:focus {
	border: 1px solid #eb2f64;
	border-color: #eb2f64;
	/* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 136, 170, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 136, 170, 0.6); */
}

input.btn {
	font-weight: bold;
}

.btnRoom {
	font-weight: bold !important;
	width: 60%;
  background-color: #eb2f64;
  border: none;
  border-radius: 3px;
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  transition: all 0.3s;
}

.btn-mic {
	width: 15%;
}

.btn-video {
	font-weight: bold !important;
	width: 20%;
  background-color: #eb2f64;
  border: none;
  border-radius: 3px;
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  transition: all 0.3s;
}

.btn-home {
	font-weight: bold !important;
	width: 20%;
  background-color: #eb2f64;
  border: none;
  border-radius: 3px;
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  transition: all 0.3s;
}

.btn-success {
	background-color: #eb2f64 !important;
	border-color: #eb2f64;
}

.btn-success:hover {
	background-color: #1abd61 !important;
	border-color: #1abd61;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #4d4d4d;
}

.footer .text-muted {
	margin: 20px 0;
	float: left;
	color: #ccc;
}

.openvidu-logo {
	height: 35px;
	float: right;
	margin: 12px 0;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.openvidu-logo:hover {
	-webkit-filter: grayscale(0.5);
	filter: grayscale(0.5);
}

.demo-logo {
	margin: 0;
	height: 22px;
	float: left;
	padding-right: 8px;
}

a:hover .demo-logo {
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}

#join-dialog h1 {
	color: #4d4d4d;
	font-weight: bold;
	text-align: center;
  
}

/* #img-div {
	text-align: center;
	position: absolute;
	top: 19%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#img-div img {
    height: 15%;
    width: 42.5%;
} */

#join-dialog label {
	color: #0088aa;
}

#join-dialog input.btn {
	margin-top: 15px;
}

#session-header {
	margin-bottom: 20px;
}

#session-title {
	display: inline-block;
}

#buttonLeaveSession {
	/* float: right; */
	display: inline-block;
	margin-top: 20px;
}

/* #video-container videoBack {
	background-color: #4d4d4d;
} */

.roomControl {
	justify-content: center;	
  position: relative;
  bottom: 20px;
	left: auto;
	right: auto;
	align-items: center;
}

.controlPosition{
	display: inline-block;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	padding: auto;
}

#video-container video {
	position: relative;
	/* float: left; */
	cursor: pointer;
	border: 2px solid rgb(35, 75, 136);
  border-radius: 5px;

	background-color: #4d4d4d;
}

#video-container p {
	display: inline-block;
	background: #f8f8f8;
	padding-right: 5px;
	padding-left: 5px;
	color: #777777;
	font-weight: bold;
	border-bottom-right-radius: 4px;
}

.main-video {
	justify-content: center;
	align-items: center;
}

video {
	width: 100%;
	height: auto;
}

#main-video p {
	position: absolute;
	display: inline-block;
	background: #f8f8f8;
	padding-right: 5px;
	padding-left: 5px;
	left: 0;
	font-size: 22px;
	color: #777777;
	font-weight: bold;
	border-bottom-right-radius: 4px;
}

#main-video video {
	cursor: initial;
	align-items: center;
	justify-content: center;
}

#session img {
	width: 50%;
	height: auto;
	justify-content: center;
	display: inline-block;
	object-fit: contain;
	vertical-align: baseline;
	align-items: center;
}

#session #video-container img {
	position: relative;
	float: left;
	width: 50%;
	cursor: pointer;
	object-fit: cover;
	height: 180px;
}


/* xs ans md screen resolutions*/

@media screen and (max-width: 991px) {
	.vertical-center {
		width: 85%;
		padding-top: 10px;
		top: 57%;
	}
}

.productInfo {
	border: 2px solid rgb(35, 75, 136);
  border-radius: 5px;
	width: 800px;
	display: block;
}

.infoBox {
	display: inline-block;
}

.chatbox {
	/* background-color: beige; */
	display: inline-block;
	border-color: #333;
	width: 450px;
	height: auto;
	justify-content: center;
	
}

.chatboxHeader {
	font-size: 3rem;
  font-weight: 500;
  color: #333;
}

.chatbox__messages {
  margin-top: auto;
  /* display: flex; */
  flex-direction: column;
  overflow-y: scroll;
  flex-direction: column;
	justify-content: start;

	
  box-sizing: border-box;  
  align-items: center;
  padding: 3px 10px;
  width: 60%;
  height: 600px;
  font-size: 1rem;
  /* font-weight: 600; */
  border: 2px solid rgb(35, 75, 136);
  border-radius: 5px;
  background-color: white;
  color: rgb(35, 75, 136);
  margin: 25px 0 20px 0px;
  transition: all 300ms ease-in;
  /* line-height: 1rem; */
	table-layout: fixed;
	word-break: break-all;
}

.messages__item {
  max-width: 6 0.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-left: 0;
}

.messages__item--visitor {
  margin-right: 0;
}

/* FOOTER */
.chatbox__footer {
	justify-content: center;
  /* position: fixed; */
  bottom: 20px;
	left: auto;
	right: auto;
}

.roomFooter {
	margin-top: 50px;
	margin-left: 150px;
	justify-content: center;
	align-items: center;
}