video {
    
    height: auto;
    cursor: pointer;    
}

.streamcomponent {
    /* display: flex; */
    justify-content: center;    
}

.streamcomponent div {
    position: absolute;
    background: #f8f8f8;
    padding-left: 5px;
    padding-right: 35px;
    color: #777777;
    font-weight: bold;
    justify-content: center;
    margin-block-start: auto;
    /* border-bottom-right-radius: 4px; */
}

p {
    margin: 0;
    width: 100%;
}