.sideNav {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
  row-gap: 2rem;
}

.sideNavItem {
  list-style: none;
}

.sideNavLink {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: var(--color-grey-light-2);
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
  position: relative;
  padding: 0.5rem 2rem;
}

.sideNavLink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.2s 0.2s;
}

.sideNavLinkActive::before,
.sideNavLink:hover::before {
  transform: scaleY(1);
  width: 100%;
}

.sideNavIcon {
  fill: currentColor;
  width: 3rem;
  height: 3rem;
  z-index: 1;
}

.sideNavText {
  font-size: 1.6rem;
  color: currentColor;
  z-index: 1;
}

@media (max-width: 1200px) {
  .sideNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    row-gap: 0;
  }
  .sideNavLink {
    justify-content: center;
    padding: 0.5rem 0;
  }
  .sideNavText {
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
}

@media (max-width: 650px) {
  .sideNavLink {
    justify-content: center;
  }
  .sideNavIcon {
    width: 2rem;
    height: 2rem;
  }

  .sideNavText {
    font-size: 1rem;
    color: currentColor;
  }
}
