.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.2rem;
  padding: 0 4.8rem;
}

.logo {
  height: 3.4rem;
}

@media (max-width: 500px) {
  .header {
    padding: 0 2rem;
  }
}
